.app-header {
    background-color: #3498db;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
    letter-spacing: 2px;
    box-shadow: 0 0px 14px 1px black;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}