.main-section {
    width: 80%;
    margin: auto;
}

.contact-list {
    /* border-right: 1px solid #8a8484;
    border-left: 1px solid #8a8484; */
    height: 100%;
    min-width: 100%;
    clear: both;
}

.add-section {
    float: right;
    margin: 20px 0;
}

.contact-details {
    margin: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

#contacts {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#contacts td, #contacts th {
    border: 1px solid #ddd;
    padding: 8px;
}

#contacts tr:nth-child(even){background-color: #f2f2f2;}

#contacts tr:hover {background-color: #ddd;}

#contacts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}